resources:
# Content Instance template
- name: {{ env["name"] }}-admin-it
  type: compute.v1.instanceTemplate
  properties:
    zone: {{ properties["zone"] }}
    properties:
      machineType: {{ properties["machineType"] }}
      networkInterfaces:
      - network: {{ properties["network"] }}
        accessConfigs:
        - name: External-IP
          type: ONE_TO_ONE_NAT
          
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: projects/debian-cloud/global/images/family/debian-9
          diskSizeGb: 10
                
      metadata:
        items:
          - key: startup-script
            value: |
              #!/bin/bash
              # Always a good idea to update things
              apt-get update -y
              # Install the Apache2 server, PHP, and MySQL client.  The rest of the install are modules for WordPress.
              apt-get -y install apache2 php libapache2-mod-php php-common php-mysql php-gmp php-curl php-intl php-mbstring php-xmlrpc php-gd php-xml php-cli php-zip mysql-client
              # Download, unpack and move, the latest WordPress release.
              wget https://wordpress.org/latest.tar.gz
              tar -zxf latest.tar.gz
              cd wordpress
              cp -r . /var/www/html
              cd /var/www/html
              rm index.html
              # Allow apache2 to change the wp-config.php file
              chgrp www-data .
              chmod g+w .         

      tags:
        items:
          - wordpress

      serviceAccounts:
        - email: {{ env["project_number"] }}-compute@developer.gserviceaccount.com
          scopes:
            - https://www.googleapis.com/auth/sqlservice.admin
            - https://www.googleapis.com/auth/cloudruntimeconfig

# Instance Group manager using instance template
- name: {{ env["name"] }}-igm
  type: compute.beta.instanceGroupManager
  properties:
    baseInstanceName: {{ env["name"] }}-instance
    instanceTemplate: $(ref.{{ env["name"] }}-admin-it.selfLink)
    zone: {{ properties["zone"] }}
    targetSize: 1
    updatePolicy:
      minimalAction: REPLACE
      type: PROACTIVE

# Autoscaler for instance Group with 60% cpu utilization target by default 
- name: {{ env["name"] }}-as
  type: compute.v1.autoscaler
  properties:
    autoscalingPolicy:
      minNumReplicas: {{ properties['minSize'] }}
      maxNumReplicas: {{ properties['maxSize'] }}
    target: $(ref.{{ env["name"] }}-igm.selfLink)
    zone: {{ properties["zone"] }}
